# An introduction to markdown

# An introduction to markdown

# An introduction to markdown

## Section 1: Simple caculations

This is a text cell, introducing a calculation
```python
2 + 2
```

# An introduction to markdown

## Section 1: Simple caculations

This is a text cell, introducing a calculation
```python
2 + 2
```

In [3]:
2+2

4

# An introduction to markdown

## Section 1: Simple caculations

This is a text cell, introducing a calculation
```python
2 + 2
```

In [3]:
2+2

4

This is another text cell, introducing another calculation, $3^7$,
which we format as 
```python
3 ** 7
```

In [ ]:
7777

This is another text cell, introducing another calculation, $3^7$,
which we format as 
```python
3 ** 7
```

In [ ]:
7777

# An introduction to markdown

## Section 1: Simple caculations

This is a text cell, introducing a calculation
```python
2 + 2
```

In [3]:
2+2

4

This is another text cell, introducing another calculation, $3^7$,
which we format as 
```python
3 ** 7
```

In [ ]:
7777

# An introduction to markdown

## Section 1: Simple caculations

This is a text cell, introducing a calculation
```python
2 + 2
```

In [3]:
2+2

4

This is another text cell, introducing another calculation, $3^7$,
which we format as 
```python
3 ** 7
```

In [4]:
7777

7777

In [6]:
float1=6.9
int(float1)

6

In [9]:
float1 = 2.0
float2 = 3.0
comp1 = complex(float1, float2)
print(comp1)
type(comp1)

(2+3j)

complex

In [12]:
from math import *
2 + True
5 * False
7 ** False
exp(True)

3

In [16]:

3<4 ^ 2==2

False

In [21]:
4^8

12

In [42]:
string1='y e  eel '
a=string1.split(' ')
print(a)
'k'.join(a)

['y', 'e', '', 'eel', '']

'ykekkeelk'

In [45]:
a = 'a{} {}'
a.format('a','j')

'aa j'

In [47]:
'a{} {}'.format(3,4)

'a3 4'

In [48]:
from random import randint
a = randint(1,100)
b = randint(1,100)
f'j{a}, is {b}'

'j15, is 1'

In [61]:
a = 'j','e'
print(a)

('j', 'e')

In [66]:
a = ('w',)
a = a + a
print(a)

('w', 'w')

In [72]:
string1 = 'The quick brown fox jumps over the lazy dog'
string1 = string1.lower()
string2 = string1.split(' ')
', '.join(sorted(string2))

'brown, dog, fox, jumps, lazy, over, quick, the, the'

In [77]:
polyhedron_template = polyhedron_template3 = 
cube_data = [8, 12, 6, 'square', 'cube']
polyhedron_template3.format(cube_data)
polyhedron_template.split(' ')
polyhedron_template[6] = '6'

TypeError: 'str' object does not support item assignment

In [82]:
polyhedron_template3 = 'The regular solid known as the {} vertices.'
cube_data = [8, 12, 6, 'square', 'cube']
polyhedron_template3.format(cube_data)

"The regular solid known as the [8, 12, 6, 'square', 'cube'] vertices."

In [86]:
polyhedron_template3 = 'The regular solid known as the %s has {4} {3} faces, {1} edges and {0} vertices.'
cube_data = [8, 12, 6, 'square', 'cube']
polyhedron_template3.format(cube_data)

IndexError: Replacement index 2 out of range for positional args tuple

In [89]:
num = 4.32
lis = [1, 3, 5]
print('list is %(a)s and float is %(b)f' %{'b': num, 'a': lis})

list is [1, 3, 5] and float is 4.320000