# An introduction to markdown

# An introduction to markdown

# An introduction to markdown

## Section 1: Simple caculations

This is a text cell, introducing a calculation
```python
2 + 2
```

# An introduction to markdown

## Section 1: Simple caculations

This is a text cell, introducing a calculation
```python
2 + 2
```

In [3]:
2+2

4

# An introduction to markdown

## Section 1: Simple caculations

This is a text cell, introducing a calculation
```python
2 + 2
```

In [3]:
2+2

4

This is another text cell, introducing another calculation, $3^7$,
which we format as 
```python
3 ** 7
```

In [ ]:
7777

This is another text cell, introducing another calculation, $3^7$,
which we format as 
```python
3 ** 7
```

In [ ]:
7777

# An introduction to markdown

## Section 1: Simple caculations

This is a text cell, introducing a calculation
```python
2 + 2
```

In [3]:
2+2

4

This is another text cell, introducing another calculation, $3^7$,
which we format as 
```python
3 ** 7
```

In [ ]:
7777

# An introduction to markdown

## Section 1: Simple caculations

This is a text cell, introducing a calculation
```python
2 + 2
```

In [3]:
2+2

4

This is another text cell, introducing another calculation, $3^7$,
which we format as 
```python
3 ** 7
```

In [4]:
7777

7777

In [6]:
float1=6.9
int(float1)

6

In [9]:
float1 = 2.0
float2 = 3.0
comp1 = complex(float1, float2)
print(comp1)
type(comp1)

(2+3j)

complex

In [12]:
from math import *
2 + True
5 * False
7 ** False
exp(True)

3

In [16]:

3<4 ^ 2==2

False

In [20]:
4^8

12